.comps {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  height: 550px;
  justify-content: center;
  margin-bottom: 1.5%;
  margin-top: 1.25%;
}

.slide-enter,
.slide-exit {
  transition: transform 300ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
